* {
 box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.closeButton {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
}

.closeButton:before, .closeButton:after {
  background-color: black;
  border-radius: 30px;
  content: "";
  height: 6px;
  position: absolute;
  width: 100%;
  top:45%;
  left: 0;
}

.closeButton:after {
  transform: rotate(45deg);
}

.closeButton:before {
  transform: rotate(135deg);
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
  transition: all .3s ease-in-out;
  transform: translateY(30px);
}

.modalview {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  position: relative;
  display: grid;
  height: 500px;
  max-width: 450px;
  place-items: center;
  width: 100%;
}

.modal img {
  max-width: 350px;
}

.show {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}